In [1]:
# imports 
import pandas
import csv
import numpy
from os.path import abspath

# Question 1
### How many features are there?

In [2]:
print("There are 8 features:\n"
    "Cust ID, Gender, Income, Age, Rentals, Avg Per Visit, Incidentals, and Genre.")

There are 8 features:
Cust ID, Gender, Income, Age, Rentals, Avg Per Visit, Incidentals, and Genre.

# Question 2
### How many features are continuous, and how many are nominal?

In [3]:
df = pandas.DataFrame({'Continuous': ['Cust ID', 'Income', 'Age', 'Rentals', 'Avg Per Visit'],
                       'Nominal': ['Gender', 'Incidentals', 'Genre', '', '']})

print("There are 5 continuous attributes and 3 nominal attributes.\n\n", df)

There are 5 continuous attributes and 3 nominal attributes.

       Continuous      Nominal
0        Cust ID       Gender
1         Income  Incidentals
2            Age        Genre
3        Rentals
4  Avg Per Visit

# Question 3
### For the continuous features, what are the average, median, maximum, and minimum values? 
### What is the standard deviation?

In [4]:
# Import .tsv file
path = abspath("Video_Store.tsv")

df1 = pandas.read_csv(path, sep='\t', usecols=['Cust ID', 'Gender', 'Income', 'Age', 'Rentals', 'Avg Per Visit', 'Incidentals', 'Genre'])
df1

    Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0         1      M  $45,000   25       27            2.5         Yes  Action
1         2      F  $54,000   33       12            3.4          No   Drama
2         3      F  $32,000   20       42            1.6          No  Comedy
3         4      F  $59,000   70       16            4.2         Yes   Drama
4         5      M  $37,000   35       25            3.2         Yes  Action
5         6      M  $18,000   20       33            1.7          No  Action
6         7      F  $29,000   45       19            3.8          No   Drama
7         8      M  $74,000   25       31            2.4         Yes  Action
8         9      M  $38,000   21       18            2.1          No  Comedy
9        10      F  $65,000   40       21            3.3          No   Drama
10       11      F  $41,000   22       48            2.3         Yes   Drama
11       12      F  $26,000   22       29            2.9         Yes  Action
12       13      M  $83,000   46       14            3.6          No  Comedy
13       14      M  $45,000   36       24            2.7          No   Drama
14       15      M  $68,000   30       36            2.7         Yes  Comedy
15       16      M  $17,000   19       26            2.2         Yes  Action
16       17      M  $36,000   35       28            3.5         Yes   Drama
17       18      F   $6,000   16       39            1.8         Yes  Action
18       19      F  $24,000   25       41            3.1          No  Comedy
19       20      M  $12,000   16       23            2.2         Yes  Action
20       21      F  $47,000   52       11            3.1          No   Drama
21       22      M  $25,000   33       16            2.9         Yes   Drama
22       23      F   $2,000   15       30            2.5          No  Comedy
23       24      F  $79,000   35       22            3.8         Yes   Drama
24       25      M   $1,000   16       25            1.4         Yes  Comedy
25       26      F  $56,000   35       40            2.6         Yes  Action
26       27      F  $62,000   47       32            3.6          No   Drama
27       28      M  $57,000   52       22            4.1          No  Comedy
28       29      F  $15,000   18       37            2.1         Yes  Action
29       30      M  $41,000   25       17            1.4         Yes  Action
30       31      F  $49,000   56       15            3.2          No  Comedy
31       32      M  $47,000   30       21            3.1         Yes   Drama
32       33      M  $23,000   25       28            2.7          No  Action
33       34      F  $29,000   32       19            2.9         Yes  Action
34       35      M  $74,000   29       43            4.6         Yes  Action
35       36      F  $29,000   21       34            2.3          No  Comedy
36       37      M  $89,000   46       12            1.2          No  Comedy
37       38      M  $41,000   38       20            3.3         Yes   Drama
38       39      F  $68,000   35       19            3.9          No  Comedy
39       40      M  $17,000   19       32            1.8          No  Action
40       41      F  $50,000   33       17            1.4          No   Drama
41       42      M  $32,000   25       26            2.2         Yes  Action
42       43      F  $49,000   28       48            3.3         Yes   Drama
43       44      M  $35,000   24       24            1.7          No   Drama
44       45      M  $56,000   38       30            3.5         Yes   Drama
45       46      F  $57,000   43        9            1.1          No   Drama
46       47      F  $69,000   35       22            2.8         Yes   Drama
47       48      F  $52,000   47       14            1.6          No   Drama
48       49      M  $31,000   25       42            3.4         Yes  Action
49       50      M  $24,000   20       33            4.7          No  Action

In [5]:
def Question3():

# Remove the '$' and ',' in the Income column in order to cast as float for calculations
  df1['Income'] = df1['Income'].str.replace('\$', '')
  df1['Income'] = df1['Income'].str.replace('\,', '')
  df1['Income']= df1['Income'].astype(float)

# Display all calculations 
  print("Income mean: ", df1['Income'].mean())
  print("Income median: ", df1['Income'].median())
  print("Income minimum: ", df1['Income'].min())
  print("Income maximum: ", df1['Income'].max())
  print("Income standard deviation: ",df1['Income'].std())

  print("Age mean: ", df1['Age'].mean())
  print("Age median: ", df1['Age'].median()) 
  print("Age minimum: ", df1['Age'].min())
  print("Age maximum: ", df1['Age'].max())
  print("Age standard deviation: ", df1['Age'].std())

  print("Rentals mean: ", df1['Rentals'].mean())
  print("Rentals median: ", df1['Rentals'].median())
  print("Rentals minimum: ", df1['Rentals'].min())
  print("Rentals maximum: ", df1['Rentals'].max())
  print("Rentals maximum: ", df1['Rentals'].std())

  print("Avg per visit mean: ", df1['Avg Per Visit'].mean())
  print("Avg per visit median: ", df1['Avg Per Visit'].median())
  print("Avg per visit minimum: ", df1['Avg Per Visit'].min())
  print("Avg per visit maximum: ", df1['Avg Per Visit'].max())
  print("Avg per visit standard deviation: ", df1['Avg Per Visit'].std())
  
Question3()

Income mean:  42300.0
Income median:  41000.0
Income minimum:  1000.0
Income maximum:  89000.0
Income standard deviation:  21409.753642216627
Age mean:  31.56
Age median:  30.0
Age minimum:  15
Age maximum:  70
Age standard deviation:  12.000272105758475
Rentals mean:  26.24
Rentals median:  25.0
Rentals minimum:  9
Rentals maximum:  48
Rentals maximum:  10.027635283941828
Avg per visit mean:  2.748
Avg per visit median:  2.75
Avg per visit minimum:  1.1
Avg per visit maximum:  4.7
Avg per visit standard deviation:  0.8981250310667058

# Question 4
### Convert the original table into the standard spreadsheet format.

In [8]:
# Need a list of strings of binary values to determine whether or not data is male
# Iterate down 'Gender' column.
    # If Male, insert 1 into list.
attribute1 = numpy.zeros((50), dtype=int)
        
for index, gender in df1['Gender'].items():
    if gender == 'M':
        attribute1[index] = 1
    
# Insert new column into dataframe for Gender=M
df1.insert(1, "Gender=M", attribute1, True) 
df1

,Cust ID,Gender=M,Gender=M,Gender,Income,Age,Rentals,Avg Per Visit,Incidentals,Genre
0,1,1,1,M,45000.0,25,27,2.5,Yes,Action
1,2,0,0,F,54000.0,33,12,3.4,No,Drama
2,3,0,0,F,32000.0,20,42,1.6,No,Comedy
3,4,0,0,F,59000.0,70,16,4.2,Yes,Drama
4,5,1,1,M,37000.0,35,25,3.2,Yes,Action
5,6,1,1,M,18000.0,20,33,1.7,No,Action
6,7,0,0,F,29000.0,45,19,3.8,No,Drama
7,8,1,1,M,74000.0,25,31,2.4,Yes,Action
8,9,1,1,M,38000.0,21,18,2.1,No,Comedy
9,10,0,0,F,65000.0,40,21,3.3,No,Drama
10,11,0,0,F,41000.0,22,48,2.3,Yes,Drama
11,12,0,0,F,26000.0,22,29,2.9,Yes,Action
12,13,1,1,M,83000.0,46,14,3.6,No,Comedy
13,14,1,1,M,45000.0,36,24,2.7,No,Drama
14,15,1,1,M,68000.0,30,36,2.7,Yes,Comedy
15,16,1,1,M,17000.0,19,26,2.2,Yes,Action
16,17,1,1,M,36000.0,35,28,3.5,Yes,Drama
17,18,0,0,F,6000.0,16,39,1.8,Yes,Action
18,19,0,0,F,24000.0,25,41,3.1,No,Comedy
19,20,1,1,M,12000.0,16,23,2.2,Yes,Action
20,21,0,0,F,47000.0,52,11,3.1,No,Drama
21,22,1,1,M,25000.0,33,16,2.9,Yes,Drama
22,23,0,0,F,2000.0,15,30,2.5,No,Comedy
23,24,0,0,F,79000.0,35,22,3.8,Yes,Drama
24,25,1,1,M,1000.0,16,25,1.4,Yes,Comedy
25,26,0,0,F,56000.0,35,40,2.6,Yes,Action
26,27,0,0,F,62000.0,47,32,3.6,No,Drama
27,28,1,1,M,57000.0,52,22,4.1,No,Comedy
28,29,0,0,F,15000.0,18,37,2.1,Yes,Action
29,30,1,1,M,41000.0,25,17,1.4,Yes,Action
30,31,0,0,F,49000.0,56,15,3.2,No,Comedy
31,32,1,1,M,47000.0,30,21,3.1,Yes,Drama
32,33,1,1,M,23000.0,25,28,2.7,No,Action
33,34,0,0,F,29000.0,32,19,2.9,Yes,Action
34,35,1,1,M,74000.0,29,43,4.6,Yes,Action
35,36,0,0,F,29000.0,21,34,2.3,No,Comedy
36,37,1,1,M,89000.0,46,12,1.2,No,Comedy
37,38,1,1,M,41000.0,38,20,3.3,Yes,Drama
38,39,0,0,F,68000.0,35,19,3.9,No,Comedy
39,40,1,1,M,17000.0,19,32,1.8,No,Action
40,41,0,0,F,50000.0,33,17,1.4,No,Drama
41,42,1,1,M,32000.0,25,26,2.2,Yes,Action
42,43,0,0,F,49000.0,28,48,3.3,Yes,Drama
43,44,1,1,M,35000.0,24,24,1.7,No,Drama
44,45,1,1,M,56000.0,38,30,3.5,Yes,Drama
45,46,0,0,F,57000.0,43,9,1.1,No,Drama
46,47,0,0,F,69000.0,35,22,2.8,Yes,Drama
47,48,0,0,F,52000.0,47,14,1.6,No,Drama
48,49,1,1,M,31000.0,25,42,3.4,Yes,Action
49,50,1,1,M,24000.0,20,33,4.7,No,Action